.custom {    
    &__orders-container {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }
    }

    &__gallery {
        flex: 0 0 50%;
        background-color: $color-brown;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 1rem;

        @media only screen and (max-width: $bp-medium) {
            order: 2;
            grid-template-rows: repeat(10, 10rem);
        }

        @media only screen and (max-width: $bp-medium-small) {
            grid-template-rows: repeat(10, 5rem);
        }
    }

    &__galleryItem {
        &--1 {
            grid-column: 1 / 6;
            grid-row: 1 / 4;
        }

        &--2 {
            grid-column: 6 / -1;
            grid-row: 1 / 6;
        }

        &--3 {
            grid-column: 1 / 4;
            grid-row: 4 / 6;
        }

        &--4 {
            grid-column: 4 / 6;
            grid-row: 4 / 6;
        }

        &--5 {
            grid-column: 1 / 4;
            grid-row: 6 / -1;
        }

        &--6 {
            grid-column: 4 / 7;
            grid-row: 6 / 8;
        }

        &--7 {
            grid-column: 7 / -1;
            grid-row: 6 / 9; 
        }

        &--8 {
            grid-column: 4 / 7;
            grid-row: 8 / -1;
        }

        &--9 {
            grid-column: 7 / -1;
            grid-row: 9 / -1;
        }
    }

    &__galleryImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__content {
        flex: 0 0 50%;
        position: relative; // for button
        background-color: $color-brown;
        padding: 7rem 5rem;

        @media only screen and (max-width: $bp-medium) {
            order: 1;
        }
    }

    &__heading-primary {
        font-size: 4rem;
        font-family: $font-heading;
        text-shadow: 5px 5px 10px rgba(0,0,0, .3);
        text-align: center;
        margin-bottom: 1rem;
        color: $color-white-dark;
    }

    &__heading-secondary {
        font-size: 2.5rem;
        text-align: center;
        color: $color-grey-light;
        text-shadow: 2px 2px 4px rgba(0,0,0, .1);
    }

    &__hr {
        width: 100%;
        height: 2px;
        border: none;
        border-radius: 50%;
        margin: 2rem auto;
        background: linear-gradient(to right, rgba($color-brown, .1), $color-white-dark, rgba($color-brown, .1));
    }

    &__list {
        list-style: none;
        font-size: 2rem;
        margin-top: 5rem;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 7rem;
        }
    }

    &__item {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        color: $color-white-dark;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }
    }

    &__iconBox {
        margin-right: 2rem;
    }

    &__icon {
        width: 5rem;
        height: 5rem;

        @media only screen and (max-width: $bp-small) {
            width: 8rem;
            height: 8rem;
        }
    }

    &__span {

        @media only screen and (max-width: $bp-small) {
            text-align: center;
            margin-top: 1rem;
        }
    }

    &__btn {
        display: block;
        position: absolute;
        bottom: 10rem;
        right: 5rem;
        font-size: 2rem;
        color: $color-white-light;
        background-color: $color-callOut;
        padding: 1rem 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 1rem 1rem 2rem rgba(0,0,0, .5);
        transition: all .2s ease;

        @media only screen and (max-width: $bp-larger) {
            bottom: 7rem;
        }

        &:hover {
            transform: translateY(-2px) scale(1.1);
            box-shadow: 1.5rem 1.5rem 2.5rem rgba(0,0,0, .5);
        }

        &:active {
            transform: translateY(0);
            box-shadow: 1rem 1rem 2rem rgba(0,0,0, .5);
        }
    }

    &__story-container {
        display: flex;
        background-color: $color-gold;
        color: $color-brown;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }
    }

    &__story-content {
        flex:  0 0 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        padding: 10rem 5rem;

        @media only screen and (max-width: $bp-medium) {
            padding: 5rem;
        }
    }

    &__story {
        flex: 0 0 100%;
        font-size: 3.5rem;
        text-align: center;
        line-height: 1.4;
        text-shadow: 2px 2px 2px rgba(0,0,0, .2); 

        @media only screen and (max-width: $bp-larger) {
            font-size: 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
        }

        i {
            font-size: 2rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
            }
        }
    }

    &__story-author {
        font-size: 3rem;
        margin: 3rem 0;
        margin-left: auto;  
        line-height: 1.2;  
        text-shadow: 2px 2px 2px rgba(0,0,0, .2);  
        
        @media only screen and (max-width: $bp-larger) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin: 3rem auto;
            font-size: 2rem;
        }
    }

    &__story-img {
        flex: 0 0 50%;
        object-fit: cover;
        display: block;
    }
}