.footer {
    background-color: $color-brown;
    color: $color-grey-light;
    padding: 7rem 5rem 0 5rem;
    height: 100%;

    &__iconBox {
        margin: 0 auto;
        margin-bottom: 10rem;
        width: 30%;
        display: flex;
        justify-content: space-around;
        

        i {
            font-size: 5rem;
            cursor: pointer; 
            box-shadow: 1rem 1rem 2rem rgba(0,0,0, .5);
            margin: 0 2rem;
            transition: all .2s ease;

            &:hover {
                color: $color-callOut;
                transform: translateY(-2px) scale(1.1);
                box-shadow: 1.5rem 1.5rem 2.5rem rgba(0,0,0, .5);
            }
    
            &:active {
                transform: translateY(0);
                box-shadow: 1rem 1rem 2rem rgba(0,0,0, .5);
            }          
        }
    }

    &__main {
        margin-bottom: 10rem;
        display: flex;
        justify-content: space-around;
    }

    &__list {
        list-style: none;
        text-align: center;

        &:not(:last-child) {
            border-right: 1px solid $color-grey-light;
            padding-right: 7rem;

            @media only screen and (max-width: $bp-larger) {
                padding-right: 5rem;
            }

            @media only screen and (max-width: $bp-large) {
                padding-right: 4rem;
            }
        }
    }

    &__item {
        margin: 1rem 0;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-grey-light;
            font-size: 2rem;
            transition: color .2s ease; 
        }

        &:hover {
            color: $color-callOut;
        }
    }

    &__span {
        color: $color-grey-light;
        font-size: 2rem;
    }

    &__policy {
        text-align: center;
        font-size: 2rem;
    }

    &__policyLinks {
        cursor: pointer;
        transition: color .2s ease; 

        &:hover {
            color: $color-callOut;
        }
    }

    &__hr {
        width: 80%;
        height: 2px;
        border: none;
        border-radius: 50%;
        margin: 5rem auto;
        margin-bottom: 10rem;
        background: linear-gradient(to right, rgba($color-brown, .1), $color-white-dark, rgba($color-brown, .1));
    }

    &__description {
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.5;
        margin: 0 auto;
        width: 80%;
    }

    &__github {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-grey-light;
            transition: color .2s ease; 
        }

        &:hover {
            color: $color-callOut;
        }

        i {
            color: black;
            font-size: 2rem;
        }
    }

    &__attributions {
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.5;
        margin: 2rem auto;
        width: 80%;

        a {
            &:link,
            &:visited {
                text-decoration: none;
                color: $color-grey-light;
                transition: color .2s ease; 
            }

            &:hover {
                color: $color-callOut;
            }
        }
    }

    &__logo {
        margin-top: 10rem;
        display: flex;
        justify-content: center;
    }

    &__hammer,
    &__sound {
        width: 5rem;
        height: 5rem;
    }

    &__copyright {
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.5;
        margin: 2rem auto;
        margin-bottom: 5rem;
        width: 80%;

        span {
            font-family: $font-heading;
            font-size: 2rem;
        }

        a {
            &:link,
            &:visited {
                text-decoration: none;
                color: $color-grey-light;
                transition: color .2s ease; 
            }

            &:hover {
                color: $color-callOut;
            }
        }
    }
}