.products {
    background-color: $color-white-light;
    padding-top: 7rem;
    padding-bottom: 15rem;

    @media only screen and (max-width: $bp-small) {
        padding-bottom: 5rem;
    }

    &__heading-primary {
        font-size: 4rem;
        font-family: $font-heading;
        text-shadow: 5px 5px 10px rgba(0,0,0, .3);
        text-align: center;
        margin-bottom: 1rem;
        color: $color-brown;
    }

    &__heading-secondary {
        font-size: 2.5rem;
        text-align: center;
        color: $color-grey-dark;
        text-shadow: 2px 2px 4px rgba(0,0,0, .1);

        @media only screen and (max-width: $bp-small) {
            margin: 0 3rem;
        }
    }

    &__hr {
        width: 80%;
        height: 2px;
        border: none;
        border-radius: 50%;
        margin: 2rem auto;
        background: linear-gradient(to right, $color-white-light, $color-brown, $color-white-light);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5rem;
        justify-content: space-around;
        padding: 5rem;

        @media only screen and (max-width: $bp-larger) {
            grid-gap: 3rem;
            padding: 3rem;
        }

        @media only screen and (max-width: $bp-large) {
            grid-gap: 2rem;
            padding: 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 7rem 3rem;
            padding: 3rem;
            justify-items: center;
        }

        @media only screen and (max-width: $bp-small) {
            display: block;
            padding-top: 0;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    background: $color-white-dark;
    box-shadow: 1.5rem 1.5rem 2rem rgba(0,0,0, .2);
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    min-height: 40rem;
    cursor: pointer;
    transition: all .1s ease;

    @media only screen and (max-width: $bp-medium) {
        max-width: 35rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin: 7rem auto;
    }

    &:hover {
        transform: translateY(-1rem) scale(1.05);
        box-shadow: 2rem 2rem 4rem rgba(0,0,0, .3);
    }

    &__imgBox {
        height: 18rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__details {
        flex: 1;
    }

    &__heading {
        background-color: $color-gold;
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem 0; 
        width: 100%;
        color: $color-brown;             
    }

    &__text {
        font-size: 2rem;
        color: $color-brown;
        text-align: center;
        padding: 2rem;
    }
}